<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Guess The Translation </ion-title>
    <ion-buttons slot="primary">
      <ion-button id="open-modal">
        <ion-icon color="dark" slot="icon-only" name="settings-outline" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" [fullscreen]="true">
  @if (!wordSets().length) {
  <div class="main-container">
    <div class="word-container">
      <ion-text color="dark">
        <div [class]="{'german-translation':true, }">
          <ion-skeleton-text [animated]="true" />
        </div>
      </ion-text>
    </div>
    <div class="question-container">
      <div class="choices">
        @for (choice of [].constructor(4); track choice + '-' + $index){
        <ion-skeleton-text [animated]="true" />
        }
      </div>
    </div>
  </div>
  } @else {
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh()">
    <ion-refresher-content />
  </ion-refresher>
  <div class="main-container">
    <div class="word-container">
      <ion-text [color]="getTextColor()">
        <div
          [class]="{'german-translation':true,'shake': !isCorrect && answered }"
        >
          {{ wordSets()[0].words[0].article && !germanEnabled ?
          wordSets()[0].words[0].article + ' ' : '' }}{{ germanEnabled ?
          wordSets()[0].words[0].english_translation :
          wordSets()[0].words[0].german_translation }}
        </div>
      </ion-text>
    </div>
    <div class="question-container">
      <div class="choices">
        @for (choice of wordSets()[0].answers; track choice + '-' + $index){
        <ion-button
          [class]="{'article-btn':true,'gelatin': chosenAnswer === $index}"
          [color]="getButtonColor($index)"
          (click)="answeredClicked(choice,$index)"
        >
          {{ choice | titlecase }}
        </ion-button>
        }
      </div>
    </div>
  </div>
  }
</ion-content>

<ion-modal
  [isOpen]="chosen"
  [keyboardClose]="false"
  [backdropDismiss]="false"
  [handle]="false"
  [draggable]="false"
  [initialBreakpoint]="0.15"
  [breakpoints]="[0.15, 0.5]"
  [backdropBreakpoint]="0.5"
>
  <ng-template>
    @if (chosen) {
    <ion-button
      shape="round"
      [disabled]="!answered && !chosen"
      [class]="{'next':true,'gelatin': answered}"
      [color]="getTextColor()"
      (click)="answered ? handleRefresh() : checkAnswer()"
    >
      {{answered ? 'Next' : 'Check'}}
    </ion-button>
    }
  </ng-template>
</ion-modal>

<ion-modal
  #modal
  trigger="open-modal"
  [canDismiss]="true"
  [initialBreakpoint]="0.25"
  [breakpoints]="[0, 0.25, 0.5, 0.75]"
>
  <ng-template>
    <ion-list class="settings-list">
      <ion-item>
        <ion-toggle
          helperText="Switches to choosing the correct German word based in a word in English."
          (ionChange)="toggleGerman($event)"
          [(ngModel)]="germanEnabled"
        >
          Switch to German {{germanEnabled}}
        </ion-toggle>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-modal>
