<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Guess The Translation </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" [fullscreen]="true">
  @if (!word || isLoading) {
  <div class="spinner-container">
    <ion-label>Getting you a word...</ion-label>
    <ion-spinner name="lines-sharp" />
  </div>
  } @else {
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh()">
    <ion-refresher-content />
  </ion-refresher>
  <div class="main-container">
    <div class="word-container">
      <ion-text [color]="getTextColor()">
        <span class="german-translation">
          {{ word.article ? word.article + ' ' : '' }}{{ word.german_translation
          }}
        </span>
      </ion-text>
    </div>
    <div class="question-container">
      <div class="choices">
        @for (choice of answers(); track choice + '-' + $index){
        <ion-button
          class="article-btn"
          [disabled]="isLoading"
          [color]="getButtonColor($index)"
          (click)="answeredClicked(choice,$index)"
        >
          {{ choice | titlecase }}
        </ion-button>
        }
      </div>
    </div>
    @if (answered){
    <div class="next-button">
      <ion-button
        class="next"
        color="secondary"
        shape="round"
        [disabled]="isLoading"
        (click)="handleRefresh()"
      >
        <ion-icon slot="icon-only" name="arrow-forward-outline" />
      </ion-button>
    </div>
    }
  </div>
  }
</ion-content>
