.article-card {
  display: inline-block;
  margin: 0;
  box-shadow: 1px 2px #888;
}

ion-card-content {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.word-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: bold;
  font-size: xx-large;
  color: var(--ion-color-dark-shade);
  flex-direction: column;
}

.article-btn {
  font-weight: bold;
  --box-shadow: 3px 5px #888;
}

.next {
  font-weight: bold;
  margin: 12px;
}

.translation-btn {
  margin-bottom: 22px;
  font-size: 10px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 100%;
  justify-content: center;
  position: relative;
}

.next-button {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding: 8px;
  width: 100%;
}

.question-container {
  width: 100%;
  align-items: end;
  display: flex;
  margin-bottom: 10vh;
}

.spinner-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100%;
  justify-content: center;
  gap: 8px;
}

.gelatin {
  animation: gelatin 0.3s linear;
}
@keyframes gelatin {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.shake {
  animation: shake .5s ease;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}
