<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Word Swipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    @for (word of wordCards(); track word.id + '-' + $index) {

      <ion-card [id]="word.id" class="word-card">
        @if (word.isSwipeRight) {
          <div class="success-overlay">
            <ion-icon
              class="success-icon"
              name="checkmark-circle-outline"
            ></ion-icon>
          </div>
        } @else if (word.isSwipeLeft) {
          <div class="failure-overlay">
            <ion-icon class="success-icon" name="close-circle-outline"></ion-icon>
          </div>
        }
        <ion-card-content>
          <div class="word-translation-container">
            <div class="german-word-translation">
              {{ word.article ? word.article + ' ' : '' }}{{
                word.german_translation
              }}
            </div>
            @if (word.isUnknown) {
              <div class="english-word-translation">
                "{{ word.english_translation }}"
              </div>
            }
          </div>
        </ion-card-content>
      </ion-card>
    }
  </div>
</ion-content>
