<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Word Swipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" [fullscreen]="true">
  <div class="content-container">
    @if (!wordCards().length) {
    <ion-card class="word-card">
      <ion-card-content>
        <div class="word-translation-container">
          <div class="german-word-translation">
            <ion-skeleton-text [animated]="true" />
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    }@else{ @for (word of wordCards(); track word.id + '-' + $index) {
    <ion-card [id]="word.id" class="word-card">
      @if (word.isSwipeRight) {
      <div class="success-overlay">
        <ion-icon
          class="success-icon"
          name="checkmark-circle-outline"
        ></ion-icon>
      </div>
      } @else if (word.isSwipeLeft) {
      <div class="failure-overlay">
        <ion-icon class="success-icon" name="close-circle-outline"></ion-icon>
      </div>
      }
      <ion-card-content>
        <div
          class="word-translation-container"
          id="{{$index === (wordCards().length - 1) ? 'active-card' : ''}}"
        >
          <div class="german-word-translation">
            {{ word.article ? word.article + ' ' : '' }}{{
            word.german_translation }}
          </div>
          @if (word.isUnknown) {
          <div class="english-word-translation">
            "{{ word.english_translation }}"
          </div>
          }
        </div>
      </ion-card-content>
    </ion-card>
    } }
  </div>
  @if (sharingEnabled) {
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button color="dark" size="small" [disabled]="!wordCards().length">
      <ion-icon name="chevron-down-circle-outline" />
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button [disabled]="!wordCards().length" (click)="shareWord()">
        <ion-icon name="share-outline" />
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  }
</ion-content>
