.word-card {
  height: 130vw;
  width: 90vw;
  position: absolute;
  border-radius: 10px;
  max-height: 80vh;
}

.content-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.german-word-translation {
  font-size: 24px;
  color: var(--ion-text-color);
  ion-skeleton-text {
    width: 150px;
    height: 40px;
  }
}

.english-word-translation {
  font-size: 20px;
  color: var(--ion-text-color-step-400);
}

ion-card-content {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  justify-content: center;
  gap: 16px;
}

.word-translation-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.success-overlay {
  -webkit-box-shadow: 0 0 100px 20px rgba(0, 128, 0, 0.7) inset;
  -moz-box-shadow: 0 0 100px 20px rgba(0, 128, 0, 0.7) inset;
  box-shadow: 0 0 100px 20px rgba(0, 128, 0, 0.7) inset;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: center;
}

.failure-overlay {
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0 0 100px 20px rgba(255, 0, 0, 0.7) inset;
  -moz-box-shadow: 0 0 100px 20px rgba(255, 0, 0, 0.7) inset;
  box-shadow: 0 0 100px 20px rgba(255, 0, 0, 0.7) inset;
}

.success-icon {
  font-size: 50px;
  margin-top: 85%;
  opacity: 0.5;
}
