<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Guess The Articles </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" [fullscreen]="true">
  @if (!words().length) {
  <div class="spinner-container">
    <ion-label>Getting you a word...</ion-label>
    <ion-spinner name="lines-sharp" />
  </div>
  } @else {
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh()">
    <ion-refresher-content />
  </ion-refresher>
  <div class="main-container">
    <div class="word-container">
      <div>
        <ion-text [color]="getTextColor()">
          <span class="german-translation"
            >{{words()[0].german_translation}}</span
          >
        </ion-text>
        <ion-button
          id="click-trigger"
          class="translation-btn"
          size="small"
          fill="outline"
          shape="round"
          color="dark"
          (click)="toggleTranslationShow()"
        >
          <ion-icon slot="icon-only" name="language-outline" />
        </ion-button>
      </div>
      <div>
        <span class="english-translation" [ngClass]="{show: showTranslation}">
          "{{words()[0].english_translation}}"
        </span>
      </div>
    </div>
    <div class="question-container">
      <div class="choices">
        @for (article of ARTICLES; track article + '-' + $index){
        <ion-button
          class="article-btn"
          [color]="getButtonColor($index)"
          (click)="answeredClicked(article,$index)"
        >
          {{ article }}
        </ion-button>
        }
      </div>
    </div>

    @if (answered){
    <div class="next-button">
      <ion-button
        class="next"
        [color]="getTextColor()"
        shape="round"
        (click)="handleRefresh()"
      >
        Next
        <ion-icon slot="end" name="arrow-forward-outline" />
      </ion-button>
    </div>
    }
  </div>
  }
</ion-content>
