<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Guess The Articles </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" [fullscreen]="true">
  @if (!words().length) {
  <div class="main-container">
    <div class="word-container">
      <ion-text color="dark">
        <div [class]="{'german-translation':true, }">
          <ion-skeleton-text [animated]="true" />
        </div>
      </ion-text>
    </div>
    <div class="question-container">
      <div class="choices">
        @for (choice of [].constructor(4); track choice + '-' + $index){
        <ion-skeleton-text [animated]="true" />
        }
      </div>
    </div>
  </div>
  } @else {
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh()">
    <ion-refresher-content />
  </ion-refresher>
  <div class="main-container">
    <div class="word-container">
      <div class="word-icon-container">
        <ion-text id="share-this-articles" [color]="getTextColor()">
          <div
            [class]="{'german-translation':true,'shake': !isCorrect && answered }"
          >
            {{words()[0].german_translation}}
          </div>
        </ion-text>
        <ion-button
          id="click-trigger"
          class="translation-btn"
          size="small"
          fill="outline"
          shape="round"
          color="dark"
          (click)="toggleTranslationShow()"
        >
          <ion-icon slot="icon-only" name="language-outline" />
        </ion-button>
      </div>
      <div>
        <span class="english-translation" [ngClass]="{show: showTranslation}">
          "{{words()[0].english_translation}}"
        </span>
      </div>
    </div>
    <div class="question-container">
      <div class="choices">
        @for (article of ARTICLES; track article + '-' + $index){
        <ion-button
          [class]="{'article-btn':true,'gelatin': chosenAnswer === $index}"
          [color]="getButtonColor($index)"
          (click)="answeredClicked(article,$index)"
        >
          {{ article }}
        </ion-button>
        }
      </div>
    </div>
  </div>
  } @if (sharingEnabled) {
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button color="dark" size="small" [disabled]="!words().length">
      <ion-icon name="chevron-down-circle-outline" />
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button [disabled]="!words().length" (click)="shareWord()">
        <ion-icon name="share-outline" />
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  }
</ion-content>

<ion-modal
  #modal
  [isOpen]="chosen"
  [keyboardClose]="false"
  [backdropDismiss]="false"
  [handle]="false"
  [draggable]="false"
  [initialBreakpoint]="0.15"
  [breakpoints]="[0.15, 0.5]"
  [backdropBreakpoint]="0.5"
>
  <ng-template>
    @if (chosen) {
    <ion-button
      shape="round"
      [disabled]="!chosen && !answered"
      [class]="{'next':true,'gelatin': answered}"
      [color]="getTextColor()"
      (click)="answered ? handleRefresh() : checkAnswer()"
    >
      {{answered ? 'Next' : 'Check'}}
    </ion-button>
    }
  </ng-template>
</ion-modal>
