.article-card {
  display: inline-block;
  margin: 0;
  box-shadow: 1px 2px #888;
}

ion-card-content {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.word-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: bold;
  font-size: xx-large;
  color: var(--ion-color-dark-shade);
}

.article-btn {
  font-weight: bold;
}

ion-button {
  --box-shadow: 3px 5px #888;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 100%;
  justify-content: center;
}

.choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding: 8px;
  width: 100%;
}

.question-container {
  width: 100%;
  align-items: end;
  display: flex;
  margin-bottom: 10vh;
}
