<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="swiper" href="/tabs/swiper">
      <ion-icon
        aria-hidden="true"
        src="./assets/svg/swipe-cards-filled.icon.svg"
      />
      <ion-label>Swiper</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="articles" href="/tabs/articles">
      <ion-icon aria-hidden="true" name="grid" />
      <ion-label>Articles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="translations" href="/tabs/translations">
      <ion-icon aria-hidden="true" name="language" />
      <ion-label>Translations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="search-outline" />
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics" href="/tabs/statistics">
      <ion-icon aria-hidden="true" name="stats-chart-outline" />
      <ion-label>Statistics</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
