<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="swiper" href="/tabs/swiper">
      <ion-icon
        aria-hidden="true"
        src="./assets/svg/swipe-cards-filled.icon.svg"
      />
      <ion-label>Swiper</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="articles" href="/tabs/articles">
      <ion-icon aria-hidden="true" name="grid" />
      <ion-label>Articles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="search-outline" />
      <ion-label>Search</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
