<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        default-href="/tabs/home-page"
        color="dark"
        (click)="vibrate()"
      />
    </ion-buttons>
    <ion-title> My Mistakes </ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-select
        label="Floating label"
        label-placement="floating"
        [(ngModel)]="visualizationType"
      >
        <ion-select-option [value]="SelectionsEnum.Graph">
          Graph
        </ion-select-option>
        <ion-select-option [value]="SelectionsEnum.Cards">
          Cards
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content [forceOverscroll]="false" [fullscreen]="true">
  @if (wordsMistakes.length) {
  <div class="main-container">
    @if (visualizationType === SelectionsEnum.Graph) {
    <div class="graph-container">
      <ngx-charts-bar-horizontal
        [results]="visualizationChartData"
        [gradient]="true"
        [wrapTicks]="false"
        [legend]="false"
        [xAxis]="true"
        [yAxis]="true"
        [showDataLabel]="true"
        [maxYAxisTickLength]="5"
      />
    </div>
    } @else if (visualizationType === SelectionsEnum.Cards) {
    <swiper-container
      effect="cards"
      cards-effect-perSlideOffset="8"
      cards-effect-perSlideRotate="2"
      cards-effect-slideShadows="true"
      cards-effect-rotate="true"
    >
      @for (mist of wordsMistakes; track mist.word.id) {
      <swiper-slide>
        <ion-card class="word-text">
          <ion-card-content>
            <div class="mistakes-number">{{mist.times}} Times Wrong</div>
            <div class="german-word-translation">
              {{ mist.word.article ? mist.word.article + ' ' : '' }}{{
              mist.word.german_translation }}
            </div>
            <div class="english-word-translation">
              "{{ mist.word.english_translation }}"
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      }
    </swiper-container>
    }
  </div>
  }
</ion-content>
