.graph-container {
  height: 50vh;
  width: 100%;
}

.main-container {
  height: 90%;
  width: 100vw;
  display: flex;
  align-items: center;
}

.word-text {
  width: 70vw;
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  color: var(--ion-text-color-step-400);
  position: relative;
}

.german-word-translation {
  font-size: xx-large;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-card-content {
  height: 100%;
  display: contents;
  position: relative;
}

.clear-word-btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
