<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/tabs/home-page" color="dark" />
    </ion-buttons>
    <ion-title> Settings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" [fullscreen]="true">
  <ion-list class="settings-list">
    <ion-item>
      <ion-toggle
        helperText="In Translations Minigame, switches to choosing the correct German word instead of English."
        (ionChange)="toggleGerman($event)"
        [(ngModel)]="germanEnabled"
      >
        Switch to German
      </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-range
        class="range"
        color="dark"
        label="No. of Matching Pairs"
        [ticks]="true"
        [snaps]="true"
        [pin]="true"
        [min]="2"
        [max]="10"
        [(ngModel)]="matchingPairs"
        (ionKnobMoveEnd)="rangeChanged($event)"
      />
    </ion-item>
  </ion-list>
</ion-content>
