<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        default-href="/tabs/home-page"
        color="dark"
        (click)="vibrate()"
      />
    </ion-buttons>
    <ion-title> Settings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" [fullscreen]="true">
  <ion-list class="settings-list">
    <ion-item>
      <ion-toggle
        helperText="Enable or disable dark mode throughout the App."
        [(ngModel)]="paletteToggle"
        (ionChange)="toggleChange($event)"
      >
        Dark Mode
      </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle
        helperText="Enable vibrations when interacting with the App."
        [(ngModel)]="hapticsToggle"
        (ionChange)="toggleHaptics($event)"
      >
        Haptics
      </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle
        helperText="Enable supportive toast messages when playing any of the minigames."
        [(ngModel)]="toastsToggle"
        (ionChange)="toggleToasts($event)"
      >
        Toast Messages
      </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle
        helperText="Enable a share button to share your stats with friend in the statistics page."
        [(ngModel)]="sharingToggle"
        (ionChange)="toggleSharing($event)"
      >
        Share Button
      </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle
        helperText="In Translations Minigame, switches to choosing the correct German word instead of English."
        (ionChange)="toggleGerman($event)"
        [(ngModel)]="germanEnabled"
      >
        Switch to German
      </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-range
        class="range"
        color="dark"
        label="No. of Matching Pairs"
        [ticks]="true"
        [snaps]="true"
        [pin]="true"
        [min]="2"
        [max]="10"
        [(ngModel)]="matchingPairs"
        (ionKnobMoveEnd)="rangeChanged($event)"
      />
    </ion-item>
  </ion-list>
</ion-content>
