<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Statistics </ion-title>
    <ion-buttons slot="primary">
      <ion-button id="open-modal">
        <ion-icon
          color="danger"
          slot="icon-only"
          name="trash-outline"
          (click)="vibrate()"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      [value]="SegmentsLabels.SwiperPage"
      [scrollable]="true"
      (ionChange)="segmentChange($event)"
    >
      <ion-segment-button
        [value]="SegmentsLabels.SwiperPage"
        content-id="swiper-segment"
      >
        <ion-label>Swipes</ion-label>
      </ion-segment-button>
      <ion-segment-button
        [value]="SegmentsLabels.ArticlesPage"
        content-id="articles-segment"
        [disabled]="true"
      >
        <ion-label>Articles</ion-label>
      </ion-segment-button>
      <ion-segment-button
        [value]="SegmentsLabels.TranslationsPage"
        content-id="translations-segment"
        [disabled]="true"
      >
        <ion-label>Translations</ion-label>
      </ion-segment-button>
      <ion-segment-button
        [value]="SegmentsLabels.MatchPage"
        content-id="match-segment"
        [disabled]="true"
      >
        <ion-label>Word Match</ion-label>
      </ion-segment-button>
      <ion-segment-button
        [value]="SegmentsLabels.SearchSegment"
        content-id="search-segment"
        [disabled]="true"
      >
        <ion-label>Search</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" [fullscreen]="true">
  <ion-segment-view>
    <ion-segment-content id="swiper-segment">
      <div class="container">
        @if (activeSegment === SegmentsLabels.SwiperPage){
        <div
          [id]="SegmentsLabels.SwiperPage"
          class="small-margin-bottom-chart-container"
        >
          <ngx-charts-pie-grid
            [scheme]="dualColorSchemes"
            [results]="swiperTotalResultsVS"
          />
        </div>
        <div class="chart-container">
          <ngx-charts-bar-vertical
            [results]="swiperTotalResults"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="true"
            [scheme]="tripleColorSchemes"
            [legend]="true"
            [legendPosition]="LegendPosition.Below"
            [trimXAxisTicks]="false"
            [showDataLabel]="true"
            legendTitle="Swipes (Total)"
          />
        </div>
        <div class="chart-container">
          <ngx-charts-pie-chart
            [results]="swiperTotalResultsVS"
            [gradient]="true"
            [scheme]="dualColorSchemes"
            [legend]="true"
            [legendPosition]="LegendPosition.Below"
            [doughnut]="true"
            [labels]="true"
            legendTitle="Swipes"
          />
        </div>
        }
      </div>
    </ion-segment-content>
    <ion-segment-content id="articles-segment">
      <div class="container">
        @if (activeSegment === SegmentsLabels.ArticlesPage){
        <div
          [id]="SegmentsLabels.ArticlesPage"
          class="small-margin-bottom-chart-container"
        >
          <ngx-charts-pie-grid
            [scheme]="dualColorSchemes"
            [results]="articlesTotalResultsVS"
          />
        </div>
        <div class="chart-container">
          <ngx-charts-bar-vertical
            [results]="articlesTotalResults"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="true"
            [scheme]="tripleColorSchemes"
            [legend]="true"
            [legendPosition]="LegendPosition.Below"
            [trimXAxisTicks]="false"
            [showDataLabel]="true"
            legendTitle="Articles Answers"
          />
        </div>
        <div class="chart-container">
          <ngx-charts-pie-chart
            [results]="articlesTotalResultsVS"
            [gradient]="true"
            [scheme]="dualColorSchemes"
            [legend]="true"
            [legendPosition]="LegendPosition.Below"
            [doughnut]="true"
            [labels]="true"
            legendTitle="Articles Minigame"
          />
        </div>
        }
      </div>
    </ion-segment-content>
    <ion-segment-content id="translations-segment">
      <div class="container">
        @if (activeSegment === SegmentsLabels.TranslationsPage){
        <div
          [id]="SegmentsLabels.TranslationsPage"
          class="small-margin-bottom-chart-container"
        >
          <ngx-charts-pie-grid
            [scheme]="dualColorSchemes"
            [results]="translationsTotalResultsVS"
          />
        </div>
        <div class="chart-container">
          <ngx-charts-bar-vertical
            [results]="translationsTotalResults"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="true"
            [scheme]="tripleColorSchemes"
            [legend]="true"
            [legendPosition]="LegendPosition.Below"
            [trimXAxisTicks]="false"
            [showDataLabel]="true"
            legendTitle="Translations Answers"
          />
        </div>
        <div class="chart-container">
          <ngx-charts-pie-chart
            [results]="translationsTotalResultsVS"
            [gradient]="true"
            [scheme]="dualColorSchemes"
            [legend]="true"
            [legendPosition]="LegendPosition.Below"
            [doughnut]="true"
            [labels]="true"
            legendTitle="Translations Minigame"
          />
        </div>
        }
      </div>
    </ion-segment-content>
    <ion-segment-content id="match-segment">
      <div class="container test">
        @if (activeSegment === SegmentsLabels.MatchPage){
        <div
          [id]="SegmentsLabels.MatchPage"
          class="small-margin-bottom-chart-container"
        >
          <ngx-charts-pie-grid
            [scheme]="dualColorSchemes"
            [results]="wordMatchTotalResultsVS"
          />
        </div>
        <div class="chart-container">
          <ngx-charts-bar-vertical
            [results]="wordMatchTotalResults"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="true"
            [scheme]="tripleColorSchemes"
            [legend]="true"
            [legendPosition]="LegendPosition.Below"
            [trimXAxisTicks]="false"
            [showDataLabel]="true"
            legendTitle="Word Matches"
          />
        </div>
        <div class="chart-container">
          <ngx-charts-pie-chart
            [results]="wordMatchTotalResultsVS"
            [gradient]="true"
            [scheme]="dualColorSchemes"
            [legend]="true"
            [legendPosition]="LegendPosition.Below"
            [doughnut]="true"
            [labels]="true"
            legendTitle="Matching Minigame"
          />
        </div>
        }
      </div>
    </ion-segment-content>
    <ion-segment-content id="search-segment">
      <div class="container">
        @if (activeSegment === SegmentsLabels.SearchSegment){
        <div
          [id]="SegmentsLabels.SearchSegment"
          class="small-margin-bottom-chart-container"
        >
          <ngx-charts-number-card
            [results]="searchTotalResults"
            [animations]="true"
          />
        </div>
        <div class="chart-container">
          <ngx-charts-bar-vertical
            [results]="searchTotalResults"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="true"
            [scheme]="tripleColorSchemes"
            [legend]="true"
            [legendPosition]="LegendPosition.Below"
            [trimXAxisTicks]="false"
            [showDataLabel]="true"
            legendTitle="Searches"
          />
        </div>
        <div class="chart-container">
          <ngx-charts-pie-chart
            [results]="searchTotalResultsVS"
            [gradient]="true"
            [scheme]="dualColorSchemes"
            [legend]="true"
            [legendPosition]="LegendPosition.Below"
            [doughnut]="true"
            [labels]="true"
            legendTitle="Searches"
          />
        </div>
        }
      </div>
    </ion-segment-content>
  </ion-segment-view>
  @if (sharingEnabled) {
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="dark" (click)="share()">
        <ion-icon name="share-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }
</ion-content>
<ion-modal
  #modal
  trigger="open-modal"
  [canDismiss]="true"
  [initialBreakpoint]="0.5"
  [breakpoints]="[0, 0.25, 0.5, 0.75]"
>
  <ng-template>
    <app-clear-statistics (dataCleared)="getDataFromLocalStorage()" />
  </ng-template>
</ion-modal>
