.main-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  margin-top: -16px;
}

.card-details-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  ion-icon {
    font-size: 2rem;
  }
}

.tab-card{
  margin: 0;
}

.chart-container {
  padding-top: 16px;
  max-height: 300px;
  height: 100vw;
  width: 100%;
}
