/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css";
//@import "@ionic/angular/css/palettes/dark.system.css";

/**
     * Backgrounds
     */
$color-bg-darkest: #13141b;
$color-bg-darker: #1b1e27;
$color-bg-dark: #232837;
$color-bg-med: #2f3646;
$color-bg-light: #455066;
$color-bg-lighter: #5b6882;

/**
   * Text
   */
$color-text-dark: #72809b;
$color-text-med-dark: #919db5;
$color-text-med: #a0aabe;
$color-text-med-light: #d9dce1;
$color-text-light: #f0f1f6;
$color-text-lighter: #fff;

ion-skeleton-text {
  border: 1px solid rgba(128, 128, 128, 0.1);
  border-radius: 5px;
}

.gelatin {
  animation: gelatin 0.3s linear;
}
@keyframes gelatin {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.shake {
  animation: shake 0.5s ease;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

@media (prefers-color-scheme: dark) {
  :root.ios,
  :root.md {
    background: $color-bg-darker;

    .ngx-charts {
      text {
        fill: $color-text-med;
      }

      .tooltip-anchor {
        fill: rgb(255, 255, 255);
      }

      .gridline-path {
        stroke: $color-bg-med;
      }

      .refline-path {
        stroke: $color-bg-light;
      }

      .reference-area {
        fill: #fff;
      }

      .grid-panel {
        &.odd {
          rect {
            fill: rgba(255, 255, 255, 0.05);
          }
        }
      }

      .force-directed-graph {
        .edge {
          stroke: $color-bg-light;
        }
      }

      .number-card {
        p {
          color: $color-text-light;
        }
      }

      .gauge {
        .background-arc {
          path {
            fill: $color-bg-med;
          }
        }

        .gauge-tick {
          path {
            stroke: $color-text-med;
          }

          text {
            fill: $color-text-med;
          }
        }
      }

      .linear-gauge {
        .background-bar {
          path {
            fill: $color-bg-med;
          }
        }

        .units {
          fill: $color-text-dark;
        }
      }

      .timeline {
        .brush-background {
          fill: rgba(255, 255, 255, 0.05);
        }

        .brush {
          .selection {
            fill: rgba(255, 255, 255, 0.1);
            stroke: #aaa;
          }
        }
      }

      .polar-chart .polar-chart-background {
        fill: rgb(30, 34, 46);
      }
    }

    .chart-legend {
      .legend-labels {
        background: rgba(255, 255, 255, 0.05) !important;
      }

      .legend-item {
        &:hover {
          color: #fff;
        }
      }

      .legend-label {
        &:hover {
          color: #fff !important;
        }

        .active {
          .legend-label-text {
            color: #fff !important;
          }
        }
      }

      .scale-legend-label {
        color: $color-text-med;
      }
    }

    .advanced-pie-legend {
      color: $color-text-med;

      .legend-item {
        &:hover {
          color: #fff !important;
        }
      }
    }

    .number-card .number-card-label {
      font-size: 0.8em;
      color: $color-text-med;
    }
  }
}
